<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">~CineLux~</h1>
            <h3 class="jumbotron-heading">All productions</h3>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${productions.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Production Name</th>
                            <th scope="col">Country</th>
                            <th scope="col">Address</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="prod : ${productions}" class="product">
                            <td th:text="${prod.name}"></td>
                            <td th:text="${prod.country}"></td>
                            <td th:text="${prod.address}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/productions/add" class="btn btn-block btn-dark add-product-btn">
                            Add new production
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

